<div class="modal-header">
  <h4 class="modal-title">Confirmación</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>¿Estás seguro de que deseas eliminar esta tarea?</p>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.dismiss()"
  >
    Cancelar
  </button>
  <button type="button" class="btn btn-danger" (click)="confirmDelete()">
    Eliminar
  </button>
</div>
