<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-center text-gray-700 mb-6">
      Registrarse
    </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="nombre" class="block text-gray-600">Nombre</label>
        <input
          id="nombre"
          type="text"
          formControlName="nombre"
          class="w-full p-3 mt-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Nombre"
        />
        <!-- Mostrar error solo si el campo ha sido tocado o si el formulario fue enviado -->
        <p
          *ngIf="
            registerForm.get('nombre')?.invalid &&
            (registerForm.get('nombre')?.touched || submitted)
          "
          class="text-red-500 text-sm"
        >
          Nombre requerido
        </p>
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-600"
          >Correo electrónico</label
        >
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full p-3 mt-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Correo electrónico"
        />
        <!-- Mostrar error solo si el campo ha sido tocado o si el formulario fue enviado -->
        <p
          *ngIf="
            registerForm.get('email')?.invalid &&
            (registerForm.get('email')?.touched || submitted)
          "
          class="text-red-500 text-sm"
        >
          Email inválido
        </p>
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-600">Contraseña</label>
        <input
          id="password"
          type="password"
          formControlName="password"
          class="w-full p-3 mt-1 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Contraseña"
        />
        <!-- Mostrar error solo si el campo ha sido tocado o si el formulario fue enviado -->
        <p
          *ngIf="
            registerForm.get('password')?.invalid &&
            (registerForm.get('password')?.touched || submitted)
          "
          class="text-red-500 text-sm"
        >
          Contraseña inválida
        </p>
      </div>

      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="w-full py-3 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none"
      >
        Registrarse
      </button>

      <div class="mt-4 text-center">
        <a routerLink="/login" class="text-sm text-blue-500 hover:underline"
          >¿Ya tienes cuenta? Inicia sesión</a
        >
      </div>
    </form>
  </div>
</div>
